{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, intial-scale=1"/>
    <title>404- page not found</title>
    <link rel="stylesheet" href="{%static 'css/404.css"}
<head>
<body>
    <main class="page-404" role="main" aria-labeledby="title-404">
    <div class="card">
    <div class="illus" aria-hidden
  <div >="illus" aria-hidden="true""> </div>
  <h1 id="title-404">-page not found</h1>
  </p>
  <div ckass="actions">
  <a class="btn" href="/">Go back home</a>
  <a class="link" href="mailto:support@example.com">contact support</a>
 </div>
 <p class="muted"> {% now "Y" %} MyNotes</p>

 </div>
 </main>
 </body>
 </html>
  
